h1{
    color: #FFCC00;
}
h2{
    color: #171A15;
}
h3{
    color: blueviolet;
}
.error{
    color: red;
}
p, ul, li{
    color: green;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
button {
    padding: 8px 16px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2C45A7;
    color: white;
    cursor: pointer;    
    transition: background-color 0.3s;
  }
  
 
  