.special-style{
    color: #72CF08;
}
.class1{
 color: #A308AD;
 
}
.class2{
    color: blueviolet;
}
.red{
    color: red;
}
.blue {
    color: #0D9DD8;
}
.bg-red{
    background-color: red;
}
.border-green{
    border: green;
}
.text-bold{
    font-style: italic
}
.font-family{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.class3{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.class4{
    color: #F8771E;
}